{% extends "base.html" %} {% block content %}
<h1>Register</h1>
<form method="post">
  {% csrf_token %}
  <label for="email">Email:</label>
  <input type="email" name="email" required /><br />

  <label for="password">Password:</label>
  <input type="password" name="password" required /><br />

  <label for="confirm_password">Confirm Password:</label>
  <input type="password" name="confirm_password" required /><br />

  <label for="role">Register as:</label>
  <select name="role" required>
    <option value="student">Student</option>
    <option value="professor">Professor</option></select
  ><br />

  <button type="submit">Register</button>
</form>
{% endblock %}
